.dashboard {
  &-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }

  &-paper {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
