.app {
  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-form {
    margin-top: 10%;
    border: 3px;
    border-style: outset;
    padding: 10px;
  }

  &-formGroup {
    &-submit {
      display: flex;
      justify-content: flex-end;
    }
  }
}
